@keyframes toastani {
	0% { opacity: 0; }
	20% { opacity: 1; }
	80% { opacity: 1; }
	100% { opacity: 0; }
}
:focus {
	outline: none;
}
body {
	font-family: -apple-system,'Tahoma',sans-serif;
}
textarea {
	background-color: var(--theme-color-d);
	color: var(--theme-color-a);
	caret-color: var(--theme-color-a);
	font-family: monospace;
	border: 1px solid var(--theme-color-e);
	padding: 5px;
	display: block;
	resize: none;
}
#setlayer textarea {
	background-color: var(--theme-color-b);
	height: 100px;
	border: none;
	font-size: 14px;
}
textarea:focus {
	border-color: var(--theme-color-a);
}
.none,
.sel-none,
.tag-none {
	display: none !important;
}
p {
	margin: 0;
}
a {
	text-decoration: none;
	color: var(--theme-color-c);
	font-family: monospace;
	margin: 0 1px;
	font-size: .7em;
	width: .5em;
	height: 1.1em;
	line-height: 1.1em;
	font-weight: 600;
}
a:focus, p:focus {
	color: var(--theme-color-g);
}
noscript {
	color: var(--theme-color-j);
	text-align: center;
	z-index: 10;
	font-size: 4em;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--theme-color-b);
	margin: 0;
}
#basebox,#modebox,#appdiv {
	overflow: hidden;
	display: flex;
}
#options {
	margin-bottom: 4px;
	border: 1px solid var(--theme-color-a);
}
#appdiv {
	margin-bottom: 8px;
	background: var(--theme-color-b);
	border: 1px solid var(--theme-color-a);
}
.win {
	font-size: 1em;
	position: absolute;
	top: 0;
	left: 0;
	background: var(--theme-color-b);
	margin: 0;
	padding-bottom: 2px;
	box-shadow: var(--shadow-big);
}
.class-box {
	padding: 3px;
	border-radius: 10px;
}
.class-box .flag {
	padding: 2px 4px;
	margin: 2px;
	box-shadow: var(--shadow-small);
	opacity: 0.5;
	transition: opacity .5s;
}
#appdiv .flag {
	margin: 1.5px 0 1.5px 3px;
	box-shadow: var(--shadow-small);
	line-height: 1.25em;
}
.class-box input {
	display: none;
}
.class-box input:checked + .flag {
	opacity: 1;
}
.set-head {
	background: var(--theme-color-a);
	color: var(--theme-color-c);
	font-size: 12px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6em;
	flex-shrink: 0;
}
#ajump {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	width: 7px;
	margin: 0;
	padding: 3px;
	background: var(--theme-color-a);
}
#baseopt,#modeopt {
	line-height: 22px;
	width: 100%;
	background: var(--theme-color-b);
	color: var(--theme-color-a);
	font-size: 13px;
}
#baseopt {
	display: grid;
	grid-template-columns: repeat(4, max-content);
	grid-template-rows: repeat(2, max-content);
	column-gap: 5px;
	grid-column-gap: 5px;
}
#modeopt {
	display: flex;
	justify-content: space-between;
}
#modeopt > div {
	display: flex;
}
#modeopt > div:first-child {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	column-gap: 5px;
	grid-column-gap: 5px;
	align-content: center;
}
#modeopt button {
	width: auto;
}
#options label,
.class-box label,
#tclsbox {
	display: inline-flex;
}
#appdiv label {
	margin: 1px .25em 2px .5em;
	display: flex;
	color: var(--theme-color-a);
	align-items: center;
}
.case-head {
	font-size: 13px;
	font-weight: bold;
	background: var(--theme-color-a);
	color: var(--theme-color-c);
    padding: 2px 0 2px 5px;
	position: sticky;
	top: 0;
}
.side-bar {
	width: 15px;
	padding: 3px;
	font-weight: bold;
	background: var(--theme-color-a);
	color: var(--theme-color-c);
}
div.side-bar > div {
	text-align: center;
	font-size: .5em;
	height: 1.6em;
	line-height: 1.6em;
}
div.side-bar > div:last-of-type {
	position: absolute;
	background: var(--theme-color-a);
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	transform: translate3d(-1.5em, 0, 0);
	font-size: 2em;
	opacity: 0;
	transition: opacity .3s ease, top .1s linear;
	border-radius: 100%;
}
#app-container {
	overflow-y: auto;
	height: calc(1.5em * 14.5);
	width: 100%;
}
.btn-grp {
	text-align: center;
	display: flex;
	justify-content: space-between;
	margin: 3px 4px;
}
.savebtn .btn-grp,
#modeopt .btn-grp {
	margin: 0;
	padding: 0;
}
#action {
	margin: 3px .5em;
}
.orig-box {
	display: none;
}
label:focus .new-style {
	background-color: var(--theme-color-h);
}
.new-style {
	background-color:var(--theme-color-d);
	border: 1px solid var(--theme-color-e);
	border-radius:100%;
	width:16px;
	height:16px;
	line-height:16px;
}
.new-radio.new-style {
	margin: 4px;
	display:flex;
	width:13px;
	height:13px;
	line-height:13px;
}
.orig-box:checked + .new-style.new-radio:after {
	transform:scale(.8);
}
.new-check.new-style {
	margin: 3px 3px 0 auto;
	border-radius:0;
	display:inline-block;
}
.orig-box:checked + .new-style {
	background-color: var(--theme-color-a);
	border-color: var(--theme-color-a);
}
.orig-box:checked + .new-style:after {
	background-color:var(--theme-color-c);
	border-radius:100%;
	content:'';
	height:9px;
	width:9px;
	display: flex;
	margin: auto;
	align-self: center;
}
.orig-box:checked + .new-check.new-style::after {
	border-color:var(--theme-color-c);
	width: 5px;
	height: 9px;
	border-style: solid;
	border-width: 0 3px 3px 0;
	border-radius: 0;
	transform: rotate(45deg);
	background-color: transparent;
}
input[type=checkbox] {
	float: right;
}
input {
	border: none;
	border-bottom: 1px solid var(--input-check-ready);
	background-color:transparent;
	color: var(--theme-color-a);
	caret-color: var(--theme-color-a);
	font-family: monospace;
	display: block;
	font-size: .75em;
    line-height: 1em;
}
input:focus {
	border-color: var(--theme-color-a);
}
::placeholder {
	color: var(--theme-color-a);
	opacity: .5;
}
::selection {
	background-color:var(--theme-color-a);
	color:var(--theme-color-c);
}
button {
	background-color:var(--theme-color-a);
	border:none;
	border-radius:0;
	color:var(--theme-color-c);
	font-size:.75em;
	font-weight:bold;
	line-height: 0;
	padding:1.1em .5em;
	width:100%;
	margin:0;
}
button:focus {
	background-color: var(--theme-color-i);
}
#searchbox {
	position: relative;
	margin: 2px .5em;
}
#search-input {
	width: 100%;
	padding: 2px 0;
	border: 1px solid transparent;
}
#version {
	font-size: .5em;
	color: var(--theme-color-a);
	text-align: right;
	margin: 5px 1em;
}
#nulltext {
	font-size: 2em;
	color: var(--theme-color-j);
	margin: auto;
	width: 9em;
	text-align: center;
	line-height: calc(1.5em * 7.25);
}
#nullprvw {
	font-size: 2em;
	line-height: 4em;
	color: var(--theme-color-j);
	margin: auto;
	text-align: center;
}
.flag {
	font-size: .75em;
	padding: 1px 5px;
    user-select: none;
}
#addtype {
	text-align: center;
	margin: 5px auto;
	font-size: .9em;
}
.atab > *,
#addsave > *,
#setlayer > *,
#class-box,
#useragent,
#issues {
	margin: 3px 4px;
}
.class-part > *,
#swopt > * {
	margin: 4px 0;
}
.atab > label,
#addsave > label,
.class-part > label {
	display: flex;
}
#addtype > label,
.atab > div > label {
	display: inline-flex;
	vertical-align: middle;
	color: var(--theme-color-a);
}
#baseopt label strong,
#modeopt label strong,
#addtype > label strong {
	border-radius: 2px;
    font-size: 12px;
    line-height: 12px;
	padding: 5px .5em;
	width: 100%;
	text-align: center;
	height: max-content;
}
#baseopt label:focus strong,
#modeopt label:focus strong,
#addtype > label:focus strong {
	background: var(--theme-color-h);
}
#baseopt label input:checked + strong,
#modeopt label input:checked + strong,
#addtype > label input:checked + strong {
	color: var(--theme-color-c);
	background: var(--theme-color-a);
}
.atab > div > label {
	line-height: 1.5em;
	font-size: 0.9em;
}
.atab > label strong,
#addsave label strong,
.class-part > label strong,
.atab div p,
#addsave div p {
	width: 20%;
	min-width: 5em;
	margin: .25em;
	font-size: .9em;
	color: var(--theme-color-a);
}
.class-part > label strong {
	margin: 0 .45em 0 calc(.25em - 3px);
}
.atab > label input,
#addsave > label input,
.class-part > label input {
	width: 80%;
}
.atab div p,
#addsave div p {
	display: inline-block;
	font-weight: bold;
}
#addui {
	width: min-content;
}
#open-new {
	padding: 0 5px !important;
	font-size: 16px;
}
.msel {
	color: var(--theme-color-c);
	background: var(--theme-color-a);
	font-weight: bold;
	font-size: .9em;
	width: 80%;
	appearance: menulist;
	border: none;
}
#toastdiv {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10%;
	width: max-content;
	margin: 0 auto;
	display: none;
	border-radius: 20px;
	padding: .5em 1em;
	font-size: .75em;
	font-weight: bold;
	background-color: var(--theme-color-a);
	color: var(--theme-color-c);
	box-shadow: 0 0 5px var(--theme-color-c);
	text-align: center;
	z-index: 10;
}
.titlebar {
	width: 100%;
	display: flex;
	background: var(--theme-color-a);
	color: var(--theme-color-c);
	font-size: .75em;
	font-weight: bold;
}
.title-text {
	width: 100%;
	padding: 0 .5em;
    line-height: 25px;
	background-color: transparent;
	user-select: none;
}
.win .titbtn {
	background-color: var(--theme-color-close);
	color: var(--theme-color-close-text);
	font-size: 1em;
	border-radius: 0;
	border: 0;
	margin: 0;
	width: 5em;
	box-shadow: none;
	transition: background-color .5s;
}
.win .prev {
	background-color: var(--theme-color-prev);
}
.win .topbutton {
	background-color: var(--theme-color-top);
}
#tclsbox {
	float: right;
	margin: 2px 0;
	font-weight: bold;
	line-height: 1.5em;
}
#ttexd {
	display: flex;
}
#ttexl {
	line-height: normal;
	font-size: .9em;
	width: 20%;
	min-width: 5em;
	margin: 2px .25em;
}
#ttexl strong {
	font-size: 1em;
	color: var(--theme-color-a);
}
#ttext {
	padding: 0;
	border: none;
	width: 80%;
	height: 100%;
    font-size: 12px;
	box-shadow: none;
	color: var(--theme-color-a);
	font-family: monospace;
}
#tkds {
	width: 80%;
	font-size: 13.3333px;
	min-width: 14em;
	background: var(--theme-color-b);
	border: none;
	border-bottom: 1px solid var(--input-check-ready);
	padding: 2px 6px 2px 3px;
}
#tkds:focus-within {
	border-color: var(--theme-color-a);
}
#tkds > span {
	display: block;
	overflow: hidden;
	height: 100%;
}
input[type=color] {
	padding: 0;
	border: none;
}
#stordata {
	width: stretch;
	height: 80px;
	margin: 0 4px;
}
#issues {
	background-color: var(--theme-color-a);
	color: var(--theme-color-c);
	overflow-y: auto;
	max-height: 8em;
}
hr {
	border: 1px solid var(--theme-color-c);
	margin: 0 .75em;
}
.issue-item {
	margin: 2px .5em;
	padding: 5px;
	font-size: .85em;
	font-weight: bold;
}
#issue-head {
	border: none;
	padding: 2px 5px;
	font-size: .75em;
	font-weight: normal;
}
.invilab {
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
}
fieldset {
	border: 2px solid var(--theme-color-j);
	width: 92%;
	border-radius: 5px;
	padding: 5px;
	transition: border-color .5s;
}
fieldset legend, #swopt legend, #swopt p {
	color: var(--theme-color-j);
	font-size: 12px;
	font-weight: bold;
	transition: color .5s;
}
fieldset:focus-within,
#swopt.inst fieldset {
	border: 2px solid var(--theme-color-a);
}
fieldset:focus-within legend,
#swopt.inst legend,
#swopt.inst p {
	color: var(--theme-color-a);
}
#addprvw {
	height: max-content;
	padding: 5px;
	font-size: .9em;
	line-height: 1.5em;
	font-family: monospace;
	color: var(--theme-color-a);
	background: var(--theme-color-h);
	word-break: break-all;
}
.basecont {
	color: var(--theme-color-a);
}
.keycont,.qapappl {
	color: var(--prvw-key);
}
.qapplat {
	color: var(--prvw-plat);
}
.qapfrom {
	color: var(--prvw-from);
}
#prvui {
	padding-bottom: 0;
}
.topwin {
	z-index: 9 !important;
}
.circle {
	width: 1.25em;
	height: 1.25em;
	background: var(--theme-color-a);
	border-radius: 100%;
	padding: 0 !important;
}
#btn-dark {
	margin: .25em .5em;
}
#mask {
	background: var(--theme-color-b);
	transform: translate(30%,-100%);
}
#btn-dark.dark #mask {
	transform: translate(25%,-15%);
}
#outside {
	position: absolute;
	left: -110%;
	top: -110%;
}
#dragger {
	position: absolute;
	top: 0;
	left: 0;
	width: max-content;
	padding: .25em;
	border-radius: .25em;
	color: var(--theme-color-c);
	background: var(--theme-color-a);
}
@media only screen and (max-width: 330px) {
	#modeopt button {
		padding: 3px;
	}
	#addui {
		top: 10px;
		left: 0;
	}
}
@media only screen and (min-width: 331px) and (max-width: 640px) {
	#modeopt button {
		padding: 3px 4px;
	}
}
@media only screen and (max-width: 640px) {
	textarea {
		height: 146px;
		width: 94%;
	}
	#baseopt {
		padding: 5px;
	}
	#modeopt div {
		padding: 0 5px;
	}
	#ua {
		width: 80%;
		top: 30%;
		left: 8.5%;
	}
	#tagclass {
		width: 65%;
	}
	#prvui {
		width: 80%;
		top: 40%;
		left: 8.5%;
	}
	#addui, #tagclass {
		top:10px;
		left:10px;
	}
	fieldset {
		min-width: 16.5em;
	}
	.atab > label input,
	#addsave > label input,
	.class-part > label input {
		min-width: 12rem;
	}
	.msel {
		min-width: 13.5em;
		padding: 0 5px;
	}
}
@media only screen and (min-width: 640px) {
	body {
		width: 500px;
		margin: 2px auto;
	}
	#baseopt {
		padding: 5px .5em;
		line-height: 19px;
	}
	#modeopt div {
		padding: 0 .5em;
	}
	textarea {
		height: 10em;
		width: 97%;
	}
	#ua {
		width: 40em;
		top: 6em;
		left: 35%;
	}
	#tagclass {
		width: 24em;
		top: 5px;
		left: 45%;
	}
	#addui {
		left: 40%;
		top: 1em;
	}
	#prvui {
		left: 35%;
		top: 18em;
		width: 24em;
	}
	fieldset {
		min-width: 21.75em;
	}
	.atab > label input,
	#addsave > label input,
	.class-part > label input {
		min-width: 13rem;
	}
	.msel {
		min-width: 19.5em;
		padding: 0 2px 2px;
	}
}
